@charset "utf-8";

@font-face { font-family: CicleGordita; src: url("../fonts/Cicle_Gordita.ttf"); }
@font-face { font-family: HattoriHanzo; src: url("../fonts/Hattori_Hanzo.otf"); }

html {
	font-size: 62.5%;
  font-family: CicleGordita, Arial, sans-serif;
}

body {
	background: url(../images/himalayas.jpg) no-repeat center top fixed;
	background-color: transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: HattoriHanzo, Arial, sans-serif;
	font-size: 1.9rem;
}

a, a:hover, a:focus, a:active, a:visited {
	color: #c40063;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

a:focus {
	outline: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: solid 1px transparent;
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="file"] > intput[type="button"]:focus {
	outline: none;
}

#container {
	background: rgba(255, 255, 255, 0.8);
	margin: 3% auto 0;
	padding: 1%;
	width: 70%;
}

#header, #portfolio {
	text-align: center;
}

#portfolio a {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
}
#portfolio a img {
  position: absolute;
  top: 0px;
  left: 0px;
}
#portfolio a img:first-child {
  z-index: 40;
}



#header {
    text-align: center;
}
#header img {
  width: 575px;
  margin-bottom: 30px;
}

#about-us p {
    font-size: 1.75em;
    text-align: center;
}

#contact {
    font-family: CicleGordita, Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#modal-pop { /*--Transparent background layer--*/
    display: none; /*--hidden by default--*/
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .80;
    z-index: 9999;
    text-align: center;
}
#modal-content{
    background: #fff;
    padding: 20px;
    border: 20px solid #ddd;
    /*float: left;*/
    font-size: 1.2em;
    position: fixed;
    margin-top: 50px;
    margin-left: 23%;
    width: 50%;
    /*top: 50%; left: 50%;*/
    z-index: 99999;
    /*--CSS3 Box Shadows--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--CSS3 Rounded Corners--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.modal-close {
    position: absolute;
    top: 0px;
    right: 0px;
}
#content {

    text-align: center;


}
#content h1 {

    font-size: 2.1em;

}


/*.gallery-tile {
	float: left;
	height: 150px;
	width: 150px;
}

.logo {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
	z-index: 2;
}

.project {
	position: relative;
	top: -150px;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.gallery-row-end {
	clear: left;
}*/
