@charset "utf-8";

@font-face { font-family: CicleGordita; src: url("../fonts/Cicle_Gordita.ttf"); }
@font-face { font-family: HattoriHanzo; src: url("../fonts/Hattori_Hanzo.otf"); }

html {
	font-size: 62.5%;
  font-family: CicleGordita, Arial, sans-serif;
}

body {
	/*background: url(../images/himalayas.jpg) no-repeat center top fixed;*/
	/*background-color: transparent;*/
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	/*background-size: cover;*/
  background-color: #444;
	font-family: HattoriHanzo, Arial, sans-serif;
	font-size: 1.9rem;
}

a, a:hover, a:focus, a:active, a:visited {
	color: #c40063;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

a:focus {
	outline: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: solid 1px transparent;
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="file"] > intput[type="button"]:focus {
	outline: none;
}

#container {
	background: #DDD;
  border: 15px solid #999;
  border-radius: 50px;
	margin: 3% auto 0px;
	padding: 1%;
	width: 1000px;
}

#header, #portfolio {
	text-align: center;
}

#portfolio a {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
}
#portfolio a img {
  position: absolute;
  top: 0px;
  left: 0px;
}
#portfolio a img:first-child {
  z-index: 40;
}



#header {
    text-align: center;
}
#header img {
  width: 575px;
  margin-bottom: 30px;
}
.home #header {
    /*width: 250px;*/
    /*float: left;*/
    display: none;
}
#about-us p {
    padding: 0px 35px;
    font-size: .9em;
    text-align: center;
}

#contact {
    font-family: CicleGordita, Arial, sans-serif;
    font-size: .95em;
    text-align: center;
}

#modal-pop { /*--Transparent background layer--*/
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .5;
    z-index: 9999;
    text-align: center;
}
#modal-content{
    background: #fff;
    /*padding: 20px;*/
    border: 20px solid #aaa;
    font-size: 1.2em;
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -520px;
    width: 1000px;
    z-index: 99999;
    text-align: center;
    
    
    /*--CSS3 Box Shadows--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--CSS3 Rounded Corners--*/
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.modal-close {
    position: absolute;
    top: -23px;
    right: 10px;
}
#modal-content #content {
    padding: 20px;
}
#content {

    text-align: center;
    /*text-align: left; */

}
#content img {
    /*float: left;*/
    /*margin-right: 15px;*/
    /*width: 475px;*/
}
#content h1 {

    font-size: 2.1em;

}
.product.website a {
    font-size: .8em;
    color: blue;
}


/*.gallery-tile {
	float: left;
	height: 150px;
	width: 150px;
}

.logo {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
	z-index: 2;
}

.project {
	position: relative;
	top: -150px;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.gallery-row-end {
	clear: left;
}*/
